[metadatadb]

module = ${DB_MODULE}
db.hostname = ${DB_HOSTNAME}
db.port = ${DB_PORT}

############################################# MONGODB #############################################
db.name = ${DB_NAME}
db.collection = ${DB_COLLECTION}

############################################# ELASTIC #############################################
db.index = ${DB_INDEX}

[resources]
metadata.url = ${METADATA_URL}
allowFreeAssetsOnly=${ALLOW_FREE_ASSETS_ONLY}
