[uwsgi]
module = nevermined_metadata.run:app
master = true
http = $(METADATA_HOST)
socket = /tmp/uwsgi.socket
processes = $(METADATA_WORKERS)
vacuum = true

spooler = mytasks
import = nevermined_metadata.app.tasks

uid = uwsgi
gid = uwsgi

die-on-term = true